.is-muted {
    color: $grey-light !important;
}
a.is-muted:hover {
  color: $grey !important;
}

.navbar-burger {
  border: none;
}

#admin-slideout-button {
  transition: 0.3s;
  &.is-active {
    transition: 0.3s;
    transform: rotateY(180deg);
  }
}

.title.is-admin {
  font-weight: 300;
}

.widget-area {
  min-height: 75px;
  padding: 10px;
  border-bottom: 1px solid rgba(10, 10, 10, 0.1);

  &.author-widget {

    .selected-author {
          display: flex;
          align-items: flex-start;
          img {
            border-radius: 25px;
          }
          .author {
            margin: auto 0 auto 10px;
            .subtitle {
              font-weight: 300;
              font-size: 0.8em;
            }
          }
        }
      }
&.post-status-widget {
    .status {
      display: flex;
      align-content: flex-start;
      .status-icon {
        min-width: 50px;
        .icon {
          width: 10px;
          i {
            text-align: center;
          }
        }
      }
      .status-details {
        margin-left: 10px;
        h4 {
          font-weight: 400;
          span.status-emphasis {
            font-size: 800;
          }

        }
        p {
          font-weight: 300;
          font-size: 0.8em;
        }

    }
  }
}
&.publish-buttons-widget {
  display: flex;
  min-height: 50px;

  .primary-action-button, .secondary-action-button {
    flex: 1;
    margin: 0 5px;
  }
}
}
.slug-widget {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.wrapper {
  margin-left: 8px;
}
.slug {
  background-color: #fdfd96;
}

// .dropdown {
//   position: relative;
//
//
//   .navbar-dropdown {
//     display: none;
//     position: absolute;
//     left: 0;
//     top: 100%;
//     z-index: 1000;
//     background-color: white;
//     min-width: 200px;
//     text-align: left;
//     box-shadow: 0 0 1px rgba(57,70,78,.15), 0 20px 55px -8px rgba(57,70,78,.25);
//       li {
//         &.seperator {
//           border-top: 1px solid #ccc;
//           margin: 5px 0;
//         }
//         &>a {
//           margin: 5px 0 5px 10px;
//           display: block;
//           &:hover{
//             background-color: whitesmoke;
//
//           }
//         }
//       }
//
//   }
//
//   &.is-aligned-right .navbar-dropdown {
//     right: 0;
//     left: auto;
//
//   }
//
//
//   &.is-open .navbar-dropdown
//   {
//     display: block;
//   }
//
// }
